* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/*  header start  */

.header {
    min-height: 100vh;
    background: red;
    display: flex;
    flex-direction: column;
}

.header__nav {
    padding: 20px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link {
    font-size: 20px;
    color: #fff;
}
.container__title{
    font-size: 100px;
}
.container__txt{
    font-size: 24px;
}

.content {
    color: #fff;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content__title {
    font-size: 100px;
}

.content__txt {
    font-size: 24px;
}